<!doctype html>
<html>
<head>
<title>wargame</title>

<!--
  This file will have the WarGame.js script dynamically embedded in it
  and run inside of an iframe from the primary document.
-->
<script type="text/javascript">

// %%%

function record(iterations, time) {
  if (window && window.parent && window.parent.listen) {
    window.parent.listen(iterations, time);
  } else {
    console.log('test: could not record data');
  }
}

function test() {
  // setup performance timers ; TODO make an abstraction for this so other non-chrome's are supported
  var t1 = performance.now();
  var t2 = t1;

  var counter = 0; // iteration counter

  // game loop for one second; this repeats 60 times for 1 minute of game time
  // this prevents the browser from marking this as a broken run-away script, hopefully
  do {
    counter++;
    game();
    t2 = performance.now();
  } while (t2 - t1 <= 500);

  // push the values onto the array
  var time_difference = (t2 - t1);
  record(counter, time_difference);
}

window.onload = test;
</script>

</head>
<body>
</body>
</html>
